html {
    align-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif, Monaco;
    text-align: center;
}

body {
    margin: 0px;
}

header {
    outline: 0px;
}

footer {
    padding: 10px;
}

.navButtons {
    text-decoration: none;
    margin: 5px;
    padding: 5px;
}

.navButtons a {
    color: #ffffff;
    text-decoration: none;
}

.navButtons a:hover {
    color: #747474;
    text-decoration: none;
}

.frontBar {
    display: flex;
    align-items: center;
    background-color: #9cd6e4;
}

.frontBar img {
    width: 8%;
}

.w3-bar-item w3-button w3-green {
    font-family: Monaco;
}
